{% extends 'myapp/base.html' %}

<!-- page to display course details and interest form -->
<h1>{% block myhdg %}Hello {{ user }}{% endblock %}</h1>
{% block body_block %}

    <!-- Container for detail page -->
    <div class="placeContainer">

        <!-- Container for course details -->
        <div class="detailContainer">
            <h2> Name: {{ course }} </h2> <br>
            <h2> Price: ${{ course.price }} </h2>
            <h2> Interested: {{ course.interested }}</h2>

            <p3>{{ msg }}</p3>      <!-- msg to display if course is not for everyone -->
        </div>

        <!-- container for interest form -->
        <div class="interestFormContainer">
            <form method="post">
                {% csrf_token %}
                <table>
                {{ form.as_table }}     <!-- interest form -->
                </table>
                <div class="submitButton">
                    <input type="submit" value="Submit">    <!-- submit button -->
                </div>
            </form>
        </div>
    </div>
{% endblock %}