<!DOCTYPE html>
{% load static %}

<!-- Login page -->

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />
        <title>E-Learning WebApp - {% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        <h1>Login</h1>
        <form action="/myapp/login/" method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password" name="password">
            <input type="submit" value="login">
        </form>
    </body>
</html>


