{% extends 'myapp/base.html' %}

<!-- Page to display course list with prices and place order form -->

<h1>{% block myhdg %}Hello {{ user }}{% endblock %}</h1>

{% block body_block %}
    <h2> List of available courses: </h2>
    <div class="placeContainer">

        <!-- Container for course and price list -->
        <div class="courseContainer">

            <!-- List of available courses -->
            <div class="courseDiv">
                {% for available_course in courlist %}
                    <p> {{ available_course }} </p>
                {% endfor %}
            </div>

            <!-- List of prices -->
            <div class="priceDiv">
                {% for available_course in courlist %}
                    <p>${{ available_course.price }}</p>
                {% endfor %}
            </div>
        </div>

        <!-- Container for place order form -->
        <div class="formContainer">
            <h2> Place order: </h2>
            <form method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}  <!-- place order form -->
                </table>
                <div class="submitButton">
                    <input type="submit" value="Submit"> <!-- submit button -->
                </div>
            </form>

        </div>
    </div>
{% endblock %}